@charset "utf-8";

/*body {
	width: expression((documentElement.clientWidth || body.clientWidth) < 980 ? '980px' : 'auto');

	width: expression((documentElement.clientWidth || body.clientWidth) < 980 ? '980px' : (documentElement.clientWidth || body.clientWidth) > 1500 ? '1500px' : 'auto');
}*/

html {
	filter: expression(this.style.filter = '', document.execCommand('BackgroundImageCache', false, true));
}